<div class="interactions">
  <div class="interaction unique-interaction {% if object.liked %} interacted {% endif %}">
    <button type="button" class="btn-interact" data-url="{% url 'blog:interaction' object.pk %}?type=like"
      data-csrf="{{ csrf_token }}" {% if not request.user.is_authenticated %} disabled {% endif %}>
      <span class="count-interactions">{{ object.likes.all|length }}</span> likes
    </button>
  </div>
  <div class="interaction unique-interaction {% if object.disliked %} interacted {% endif %}">
    <button type="button" class="btn-interact" data-url="{% url 'blog:interaction' object.pk %}?type=dislike"
      data-csrf="{{ csrf_token }}" {% if not request.user.is_authenticated %} disabled {% endif %}>
      <span class="count-interactions">{{ object.dislikes.all|length }}</span> dislikes
    </button>
  </div>
</div>