:root {
  --dark-bg-color: rgb(54, 56, 141);
  --dark-font-color: #FFF;
  --light-bg-color: #FFF;
  --light-font-color: rgb(54, 56, 141);
}

* {
  box-sizing: border-box;
}

.dark-bg {
  background: var(--dark-bg-color);
  color: var(--dark-font-color);
}

.light-bg {
  background: var(--light-bg-color);
  color: var(--light-font-color);
}

.layout {
  margin: 0 auto;
  max-width: 900px;
  padding: 10px;
}

.site-header {
  padding: 20px 10px;
}

.site-header h1 {
  font-size: 40px;
  padding-bottom: 10px;
}

.site-header nav {
  display: flex;
  justify-content: end;
}

.site-header nav ul {
  display: flex;
  gap: 20px;
}

.site-header a {
  color: var(--dark-font-color);
  text-decoration: none;
  font-size: large;
  transition: all 200ms;
  display: inline-block;
}

.site-header a:hover {
  transform: scale(1.1);
}

.site-footer {
  padding: 20px 10px;
  text-align: center;
}

.site-footer a {
  color: var(--dark-font-color);
}

.interacted {
  color: red;
}

.form {
  display: grid;
  justify-content: center;
  gap: 20px;
}

.field {
  width: 400px;
  display: grid;
  gap: 5px;
}

.input {
  font-size: large;
  font-family: inherit;
  padding: 10px;
}

.btn {
  padding: 10px;
  font-size: inherit;
}

.errorlist {
  color: red;
}

.content-title {
  text-align: center;
  font-size: 30px;
  margin: 40px;
}
