{% extends 'base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'blog/assets/css/dashboard.css' %}">
{% endblock css %}

{% block content %}
  <section class="dual-list">
    <section>
      <h1 class="content-title">Posts</h1>
      {% for post in posts %}
      <article class="list-item">
        <a href="{% url 'blog:post_detail' post.pk %}">
          <h1 class="list-item-title">{{ post.title }}</h1>
          </a>
        </article>
        {% endfor %}
      </section>
      <div class="separator"></div>
      <section>
        <h1 class="content-title">Comentários</h1>
        {% for comment in comments %}
          <article class="list-item">
            <a href="{% url 'blog:post_detail' comment.parent.pk %}#{{ comment.id }}">
              <p>{{ comment.text }}</p>
            </a>
          </article>
      {% endfor %}
    </section>
  </section>
{% endblock content %}
