{% extends 'base.html' %}

{% load static %}

{% block title %}Blog{% endblock title %}

{% block content %}
  <section class="post-list">
    {% if request.user.is_authenticated %}
      <div class="links-align-left">
        <a href="{% url 'blog:post_create' %}">novo post</a>
      </div>
    {% endif %}
    {% for post in object_list %}
      <article class="list-item">
        <a href="{% url 'blog:post_detail' post.pk %}">
          <h1 class="list-item-title">{{ post.title }}</h1>
          <p>{{ post.abstract }}</p>
        </a>
      </article>
    {% endfor %}
  </section>
{% endblock content %}
