{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'blog/assets/css/home.css' %}">
{% endblock css %}

{% block title %}Blog{% endblock title %}

{% block content %}
  <section class="post-list">
    {% if request.user.is_authenticated %}
      <div class="post-list-new-post">
        <a href="{% url 'blog:post_create' %}">novo post</a>
      </div>
    {% endif %}
    {% for post in object_list %}
      <article class="post-list-item">
        <a href="{% url 'blog:post_detail' post.pk %}">
          <h1 class="post-list-item-title">{{ post.title }}</h1>
          <p>{{ post.abstract }}</p>
        </a>
      </article>
    {% endfor %}
  </section>
{% endblock content %}
