{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if request.user == object.author %}
<p><a href="{% url 'blog:post_update' object.pk %}">Update</a></p>
<p><a href="{% url 'blog:post_delete' object.pk %}">Delete</a></p>
{% endif %}

<hr>

<article class="post">
  <header>
    <h1>{{ object.title }}</h1>
    <p>Author: {{ object.author }}</p>
    <p style="color: #888;">{{ object.abstract }}</p>
  </header>
  <main>
    <p>{{ object.text }}</p>
  </main>
  <footer>
    {% include "./includes/interactions.html" %}
  </footer>
</article>

<section>
  <h2>Comentários</h2>

  <form method="POST" action="{% url 'blog:comment_create' object.pk %}">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="Enviar">
  </form>
</section>
<br>

{% for comment in comments %}
<article>
  <header>
    <h1>{% if comment.author %}
      {{ comment.author }}
      {% else %}
      Anônimo
      {% endif %}</h1>
  </header>
  <main>
    <p>{{comment.text}}</p>
  </main>
  <footer>
    {% include "./includes/interactions.html" with object=comment %}
  </footer>
</article>
{% endfor %}
{% endblock content %}

{% block js %}
<script src="{% static 'assets/js/post_detail.js' %}"></script>
{% endblock js %}